body {
    /* Gray background color */
    margin: 0;
    padding: 0;
}

.home-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.home-h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    text-align: center;
    margin: 4rem 0 0 0;
    padding: 0;
    line-height: 10px;
}

.home-h2 {
    text-align: right;
    padding-right: 275px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.home-h3 {
    padding-left: 275px;
    padding-top: 0;
    margin-top: 0;
}

.timer-tag {
    padding: 2rem;
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 26px;
    font-weight: 700;
}