.home-h1 {
    /* A cute font and size for a title */
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    /* Center the title */
    text-align: center;
    /* Give the title some space at the top of the page */
    margin-top: 1em;
    /* Give the title some space at the bottom of the page */
    margin-bottom: 1em;
    /* Give the title some space on the left and right of the page */
    margin-left: 1em;
    margin-right: 1em;
    /* Give the title a nice color */
    color: #FF6F61;
}